main{
	border: 1px solid #3D3D3D;
	border-radius: 10px;
	width: 1045px;
	margin-left: 128px;
}

nav{
	display: flex; 
	flex-direction: row;
	margin-bottom: 10px;
	width: 995px;
	justify-content: center;
	border-bottom: 1px solid #303030;
	text-align:center;
	margin-left: 30px;
}

nav a{
	margin-right: 5px;
	color: #00ABEF;
	font-size: 25px;
}

legend{
	text-align:center;
}

.price{
	text-align:center;
	padding-top: 5px;
}

li{
	list-style-type: none;
}

#laptops{
	display: flex; 
	flex-direction: row;
	margin-left: 15px;
	font-size: 22px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#leftDiv{
	display: flex; 
	flex-direction: row;
	border: 1px solid #323232;
	width: 620px;
	flex-wrap:wrap;
	margin-bottom: 15px;
}

fieldset{
	display:flex;
	flex-direction: row;
}

.smallLeftDiv{
	display:flex;
	flex-direction: column;
}

.smallRightDiv{
	display:flex;
	flex-direction: column;
}

#rightDiv{
	padding-top: 100px;
	padding-left: 25px;
}

#rightDiv input{
	width: 180px;
}

.leftSide{
	margin-left: 10px;
}

fieldset{
	margin-left: 8px;
	margin-bottom: 10px;
}

.ssd{
	margin-top: 8px; 
}

.ram{
	padding-top: 10px; 
}

.core{
	margin-top: 15px; 
}

/*
.numbers{
	vertical-align: bottom;
}
*/